
.relativeHeader{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #020213;
}
.absoluteHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #00081498;
}

.containers {
    position: relative;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 250px;
    width: 100%;
}

.logo img {
    width: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
}

.item {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}









/* MEDIA */
@media (max-width: 992px) {

    .containers {
        height: 70px;
    }
    .logo img {
        width: 60px;
    }
    
    .nav {
        display: none;
    }
}

@media (max-width: 576px) {
    .containers {   
        height: 60px;
    }

    .relativeHeader{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: #020213;
    }
    .absoluteHeader {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: #000814;
    }
    

    .logo img {
        width: 50px;
    }
}